body{
    
    background-image: url("http://36.media.tumblr.com/2426b5ed43c592cc52b7bf6c8e66adfe/tumblr_ne99ksXP9u1tlicrlo1_500.jpg");
    background-repeat: repeat;
}
body *{
}

header{
    width:960px;
    margin:auto;
    display:flex;
    height:100px;
    justify-content: space-between;
    
}
footer{
    width:960px;
    margin:auto;
    display:flex;
    flex-direction:row;
}
h1{
    font-size: 40px;
}
select{
    height:25px;
    align-self: flex-end;
}

main{
    background-color:#FFFFFF;
    width:960px;
    margin:auto;
    display:flex;
    flex-flow: wrap;
    align-content: space-between;

}
.name{

    height:50px;
    display: flex;
    align-content: center;
    text-align: center;
}
h2{
    font-size:20px;
    justify-items: end;
    padding-bottom: 1px;
}
div img{
    width:100%;
    height:160px;
}
main div {
    text-align: center;
    margin-top: 10px;
    margin-right:10px;
    display:flex;
    flex-flow: column;
    width:230px;

}

